.data-listing{vertical-align:middle}.aptitude-filter-toggle{display:inline-block;cursor:pointer}.showData{display:inline-block !important}.aptitude-filter-list{display:none;bottom:4px;position:relative}.aptitude-filter-list ul{list-style:none;margin-top:5px;margin-right:0;margin-left:2px;margin-bottom:5px;padding:0}.aptitude-filter-list ul li{display:inline-block}.aptitude-filter-list ul input,.aptitude-filter-list ul label{display:inline-block}.aptitude-filter-list ul label{top:4px;position:relative}
