<div id="aptitude-filter">
  <span class="aptitude-filter-toggle"><h3>Aptitude Filters {%  if list != '' %} ({{ list }}) {% endif %}</h3></span>
  <div class="aptitude-filter-list">
    <ul>
      <li><input type="checkbox" class="data-listing" value="bloodline" id="bloodline" {% if selections.bloodline == 1  %} checked="checked" {%  endif %} /><label for="bloodline">Bloodlines</label></li>
      <li><input type="checkbox" class="data-listing" value="power" id="powers" {% if selections.power == 1  %} checked="checked" {%  endif %} /><label for="powers">Powers</label></li>
      <li><input type="checkbox" class="data-listing" value="technique" id="techniques" {% if selections.technique == 1  %} checked="checked" {%  endif %} /><label for="techniques">Techniques</label></li>
      <li><input type="checkbox" class="data-listing" value="talent" id="talents" {% if selections.talent == 1  %} checked="checked" {%  endif %} /><label for="talents">Talents</label></li>
    </ul>
  </div>
</div>
