#core-stats-section {
  display: block;
  width: 100%;

  #base-states-container {
    vertical-align: top;
    display: inline-block;
    width: 45%;
  }

  #base-attributes-container {
    vertical-align: top;
    display: inline-block;
    width: 45%;

    .attribute-block {
      // border: thin solid black;
      .attribute-title {
        width: 20%;
        display: inline-block;
        font-weight: bold;
      }

      .attribute-start {
        width: 10%;
        display: inline-block;
      }

      .spinner-block {
        width: 20%;
        display: inline-block;
      }

      .attribute-total {
        width: 20%;
        display: inline-block;
        margin-left: 5%;
      }

      .title-span {
        margin-left: 3%;
      }
    }
  }
}

#virtues-section {
  .fieldset-wrapper label {
    display: inline;
    margin: 10px;
  }

  .large-list-pick {
    width: 48%;
    display: inline-block;
    margin-top: 5px;
    vertical-align: top;

    .fieldset-legend {
      font-width: bold;
    }
  }

  .total-from-virtues {
    display: inline-block;
  }
}

#bloodline-section {
  .bloodline-chosen {
    .caption {
      font-weight: bold;
    }
  }

  .bloodline-option {
    font-weight: normal;

    em {
      font-weight: bold;
    }
  }

  .bloodline-select {
    .form-item {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: normal;

      label {
        margin-left: 5px;
      }
    }
  }
}

#skills-section {
  fieldset {
    border: none;
  }

  .skills-select {
    legend {
      font-weight: bold;
      font-size: 120%;
    }

    .form-item {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: normal;

      label {
        margin-left: 5px;
      }
    }
  }

  .skills-clear {
    clear: both;
    display: block;
  }

  .edit-column {
    width: 22%;
    display: inline-flex;
    vertical-align: top;
  }
}

#skills-ranks-section {
  .skill-columns {
    column-count: 3;

    .skill-block {
      // border: thin solid black;
      .skill-title {
        width: 40%;
        display: inline-block;
        font-weight: bold;
      }

      .spinner-block {
        width: 20%;
        display: inline-block;
      }

      .skill-total {
        width: 20%;
        display: inline-block;
        margin-left: 5%;
      }

      .title-span {
        margin-left: 3%;
      }
    }
  }
}

.buttons-control {
  margin-top: 10px;
}

.remaining-point-display {
  width: 100%;
  display: block;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  margin: 5px 0;
  padding: 2px 0;

  span {
    margin-left: 10px;
  }
}

.numeric {
  width: 75px;
}

.container-inline {
  label {
    width: 20%;
    display: inline-block;
  }
}

.button {
  background-color: #bbb;
  padding: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-family: 'Oswald';
  font-size: 20px;
  text-decoration: none;
  border: none;

  &:hover {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color: #e9e9e9;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

.character-alert {
  color: #ff0000;
  font-weight: bold;
}

@import 'spinner';
