.data-listing {
  vertical-align: middle;
}

.aptitude-filter-toggle {
  display: inline-block;
  cursor: pointer;
}

.showData {
  display: inline-block !important;
}

.aptitude-filter-list {
  //display: inline-block;
  display: none;
  bottom: 4px;
  position: relative;

  ul {
    list-style: none;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 2px;
    margin-bottom: 5px;
    padding: 0;

    li {
      display: inline-block;
    }

    input, label {
      display: inline-block;
    }

    label {
      top: 4px;
      position: relative;
    }
  }
}
