<div id="tabs">
  <ul>
    <li><a href="#tabs-virtues">Virtues</a></li>
    <li><a href="#tabs-core">Core</a></li>
    <li><a href="#tabs-bloodline">Bloodlines</a></li>
    <li><a href="#tabs-skills">Skill Selection</a></li>
    <li><a href="#tabs-skill-ranks">Skill Ranking</a></li>
    <li><a href="#tabs-techniques">Techniques</a></li>
    <li><a href="#tabs-powers">Powers</a></li>
    <li><a href="#tabs-aptitudes">Aptitude Ranking</a></li>
    <li><a href="#tabs-equipment">Equipment</a></li>
  </ul>
  <div id="tabs-virtues">
    <div id="virtues-section">
      {{ sections.virtues }}
    </div>
  </div>
  <div id="tabs-core">
    <div id="core-stats-section">
      {{ sections.corestats }}
    </div>
  </div>
  <div id="tabs-bloodline">
    <div id="bloodline-section">
      {{ sections.bloodlines }}
    </div>
  </div>
  <div id="tabs-skills">
    <div id="skills-section">
      {{ sections.skills }}
    </div>
  </div>
  <div id="tabs-skill-ranks">
    <div id="skills-ranks-section">
      {{ sections.skillsranking }}
    </div>
  </div>
  <div id="tabs-techniques">
    <div id="techniques-section">
      {{ sections.techniques }}
    </div>
  </div>
  <div id="tabs-powers">
    <div id="powers-section">
      {{ sections.powers }}
    </div>
  </div>
  <div id="tabs-aptitudes">
    <div id="aptitudes-section">
      {{ sections.aptitudes }}
    </div>
  </div>
  <div id="tabs-equipment">
    <div id="equipment-section">
      {{ sections.equipment }}
    </div>
  </div>
</div>
<div class="remaining-point-display">
  <span>Attribute Points: <em id="attribute-spent">0</em>/<em id="attribute-total">0</em></span>
  <span>Skill Practice Points: <em id="practice-points-spent">0</em>/<em id="practice-points-total">0</em></span>
  <span>Aptitude Practice Points: <em id="aptitude-practice-points-spent">0</em>/<em id="aptitude-practice-points-total">0</em></span>
</div>
